.items-center {
    align-items: center;
}

.flex {
    display: flex;
}

.mt-2 {
    margin-top: 2px;
}

.m-0-i {
    margin: 0 !important;
}

.gap-10 {
    gap: 10px;
}

.btn.authorize span {
    float: left;
    padding: 4px 10px 0 0 !important;
}

.justify-end {
    justify-content: flex-end;
}

section#buttons-wrapper {
    justify-content: flex-end;
    align-items: stretch;
}

.floating-buttons {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    right: 3.5%;
    bottom: 2.5%;
    width: 100px;
    height: 58px;
    padding: 0;

    background: #173647;
    border: 2px solid #68DC25;
    border-radius: 15px;
}

.expand-button,
.collapse-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 54px;
    padding: 0;
    outline: none;

    background: rgba(0, 0, 0, 0.0);
    border: 0;
    transition: 0.2s;
}

.expand-button {
    border-radius: 13px 5px 5px 13px;
}

.collapse-button {
    border-radius: 5px 13px 13px 5px;
}

.expand-button:hover,
.collapse-button:hover {
    background: #1F465B;
}

.floating-buttons-divider {
    width: 1px;
    height: 24px;
    background-color: #68DC25;
}
